*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    background-color: antiquewhite;

}
.nav-bar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
